@value wyRed: #c62f2f;
@value wyBlackRed: #a82828;

.footer {
  height: 50px;
  box-sizing: border-box;
  border-top: 1px solid #e6e7ea;
  background: #f6f6f8;
  position: absolute;
  width: 100%;
  min-width: 1000px;
  bottom: 0;
}

.play_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background: wyRed;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.play_button:hover {
  background: wyBlackRed;
  transition: background 0.5s;
}

.button_back {
  composes: play_button;
  left: 30px;
}

.button_front {
  composes: play_button;
  left: 142px;
}

.button_play {
  composes: play_button;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 16px;
  left: 85px;
}

.icon_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 30px;
  text-align: center;
  line-height: 20px;
  color: #525252;
  cursor: pointer;
}

.icon_button::before {
  font-size: 19px;
}

.icon_button:hover {
  color: #121212;
}

.button_play_model {
  composes: icon_button;
  right: 120px;
}

.button_lyric {
  composes: icon_button;
  right: 80px;
  font-size: 23px;
}

.button_play_list {
  composes: icon_button;
  width: 50px;
  right: 15px;
  background: #ddd;
  text-align: left;
  border-radius: 10px;
  font-size: 12px;
  padding-left: 2px;
}
