@value wyRed: #c62f2f;
@value wyBlackRed: #a82828;

.footer{
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid #E6E7EA;
    background: #f6f6f8;
    position: absolute;
    width: 100%;
    min-width: 1000px;
    bottom: 0;
}