.main {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 6px;
}

.item-img {
  position: relative;
  display: block;
  width: 100%;
  background: #e1e3e4;
  border: 1px solid #efefef;
  overflow: hidden;
}

.item-img-photo {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
}

.item-img::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.item-title {
  display: -webkit-box;
  width: 100%;
  height: 60px;
  font-size: 14px;
  padding: 2px;
  overflow: hidden;
}

.item-hover {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  top: -100%;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
  padding: 7px;
  transition: top 0.4s 0.3s;
}

.item-img:hover > .item-hover {
  top: 0;
}

.item-play-button {
  box-sizing: border-box;
  position: absolute;
  font-size: 10px;
  color: #fff;
  width: 24px;
  height: 24px;
  bottom: 5px;
  right: 5px;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0);
  padding-left: 2px;
  transition: background 0.2s;
  cursor: pointer;
}

.item-img:hover > .item-play-button {
  background: rgba(0, 0, 0, 0.3);
}

.item-plays {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
  padding: 2px 7px;
  text-align: right;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.4)));
  transition: top 0.01s 0.3s;
}

.item-img:hover > .item-plays {
  top: -100%;
}

.item-display-none {
  display: none;
}
