{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "ie >= 9"
                    ],
                    "node": "current"
                },
                "modules": false,
                "debug": false,
                "useBuiltIns": true
            }
        ],
        "react",
        "stage-3"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}
