.rightWindow{
    position: absolute;
    height: 100%;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}

.rightWindow::-webkit-scrollbar{
    background: rgba(255,255,255,0);
    width: 8px;
}

.rightWindow::-webkit-scrollbar-thumb{
    background: #e1e1e2;
    border-radius: 4px;
}